@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

article {
  overflow-wrap: break-word;

  h2 {
    font-weight: 500;
    color: #daf4b5;
    font-size: 30px;
  }

  h3 {
    font-weight: 500;
    color: #daf4b5;
    font-size: 22.5px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 25px;
  }

  li {
    ul {
      margin-top: 10px;
    }
  }

  p,
  li {
    font-size: 18px;
  }

  li {
    a {
      color: #daf4b5;
      font-style: italic;
      text-decoration: underline;
    }
  }

  p {
    text-align: justify;
    a {
      color: #daf4b5;
      font-style: italic;
      text-decoration: underline;
    }
  }

  li {
    color: #daf4b5;
    list-style-type: disc;
    margin-top: 0px;
  }

  li:not(:has(a)) {
    color: white;
  }

  p,
  li {
    code {
      color: #daf4b5;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 4px 8px;
      font-size: 16px;
    }
  }

  blockquote {
    p {
      color: rgba(255, 255, 255, 0.75);
      font-size: 16px;
      font-style: italic;
    }
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 16px;
  }

  pre {
    code {
      border-radius: 10px;
    }
  }
}
